In [2]:
import pandas as pd
import os

source_path = "../data/"

dataframes = {}

for file in os.listdir(source_path):
    name = file.split(".")[0]
    ext = file.split(".")[1]

    if ext != "csv":
        continue

    df= pd.read_csv(source_path+file)
    dataframes[name] = df

    print(f"\nDataframe {name} successfully created")
    print(f"Created with {df.shape[0]} rows & {df.shape[1]} columns")

Dataframe recommendation_logs successfully created
Created with 52000 rows & 11 columns

Dataframe reviews successfully created
Created with 15450 rows & 12 columns

Dataframe users successfully created
Created with 10300 rows & 16 columns

Dataframe watch_history successfully created
Created with 105000 rows & 12 columns

Dataframe movies successfully created
Created with 1040 rows & 18 columns

Dataframe search_logs successfully created
Created with 26500 rows & 11 columns

In [3]:
# check columns
for name, df in dataframes.items():
    print(f"\n--{name}--\n", df.dtypes)

--recommendation_logs--
 recommendation_id        object
user_id                  object
movie_id                 object
recommendation_date      object
recommendation_type      object
recommendation_score    float64
was_clicked                bool
position_in_list          int64
device_type              object
time_of_day              object
algorithm_version        object
dtype: object

--reviews--
 review_id             object
user_id               object
movie_id              object
rating                 int64
review_date           object
device_type           object
is_verified_watch       bool
helpful_votes        float64
total_votes          float64
review_text           object
sentiment             object
sentiment_score      float64
dtype: object

--users--
 user_id                     object
email                       object
first_name                  object
last_name                   object
age                        float64
gender                      object
country                     object
state_province              object
city                        object
subscription_plan           object
subscription_start_date     object
is_active                     bool
monthly_spend              float64
primary_device              object
household_size             float64
created_at                  object
dtype: object

--watch_history--
 session_id                 object
user_id                    object
movie_id                   object
watch_date                 object
device_type                object
watch_duration_minutes    float64
progress_percentage       float64
action                     object
quality                    object
location_country           object
is_download                  bool
user_rating               float64
dtype: object

--movies--
 movie_id                object
title                   object
content_type            object
genre_primary           object
genre_secondary         object
release_year             int64
duration_minutes       float64
rating                  object
language                object
country_of_origin       object
imdb_rating            float64
production_budget      float64
box_office_revenue     float64
number_of_seasons      float64
number_of_episodes     float64
is_netflix_original       bool
added_to_platform       object
content_warning           bool
dtype: object

--search_logs--
 search_id                   object
user_id                     object
search_query                object
search_date                 object
results_returned             int64
clicked_result_position    float64
device_type                 object
search_duration_seconds    float64
had_typo                      bool
used_filters                  bool
location_country            object
dtype: object

In [10]:
dataframes["users"].sample(10)

,user_id,email,first_name,last_name,age,gender,country,state_province,city,subscription_plan,subscription_start_date,is_active,monthly_spend,primary_device,household_size,created_at
8594,user_08595,orobles@example.org,Carolyn,Sanchez,67.0,Male,Canada,Manitoba,Bartlettton,Premium,2024-02-18,True,19.12,Desktop,4.0,2025-06-22 11:30:36.391233
2330,user_02331,maria11@example.net,Victoria,Frye,22.0,Female,USA,Maryland,North Patriciabury,Premium,2024-09-15,True,25.77,Gaming Console,NaN,2024-06-02 19:49:41.245675
8563,user_08564,adam55@example.org,Barbara,Bell,36.0,Male,USA,Illinois,Baldwinhaven,Premium+,2025-04-03,True,6.96,Mobile,NaN,2022-10-28 15:07:51.927942
8685,user_08686,brenda52@example.com,Jessica,Beasley,32.0,Female,USA,Wisconsin,South Emily,Premium,2025-03-05,True,8.29,Mobile,1.0,2023-09-30 15:42:53.622137
846,user_00847,usmith@example.net,Kayla,Crawford,25.0,Female,USA,Massachusetts,Kimberlybury,Premium,2024-04-07,True,9.29,Tablet,3.0,2023-02-13 06:32:09.913809
6525,user_06526,yharris@example.org,Chelsea,Hunt,36.0,Male,USA,Wisconsin,Lake Michael,Standard,2024-05-24,True,11.13,Gaming Console,1.0,2024-05-31 09:26:34.477610
8950,user_08951,heatherjohnson@example.com,Alyssa,Phillips,26.0,Male,Canada,Ontario,North April,Basic,2022-09-25,False,1.19,Desktop,4.0,2024-02-13 05:17:04.454325
2785,user_02786,loganwarner@example.net,Kenneth,Hancock,30.0,Female,USA,Texas,West Johnland,Premium,2025-05-15,True,29.62,Laptop,1.0,2023-01-20 04:29:25.906246
9036,user_09037,craigxavier@example.net,Sean,Hood,25.0,Female,Canada,Saskatchewan,Sandraview,Standard,2025-07-08,True,14.54,Mobile,2.0,2023-11-12 04:35:40.392449
2800,user_02801,marksweeney@example.com,Stephanie,Snyder,NaN,Male,USA,Wisconsin,South Carolynport,Standard,2023-08-24,True,7.46,Mobile,NaN,2023-03-17 02:53:21.619578

In [11]:
dataframes["movies"].sample(10)

,movie_id,title,content_type,genre_primary,genre_secondary,release_year,duration_minutes,rating,language,country_of_origin,imdb_rating,production_budget,box_office_revenue,number_of_seasons,number_of_episodes,is_netflix_original,added_to_platform,content_warning
408,movie_0409,Mystery Storm,Documentary,Fantasy,Drama,2020,99.0,TV-14,English,USA,7.8,NaN,NaN,NaN,NaN,False,2023-04-18,True
753,movie_0754,Kingdom Princess,TV Series,Western,Music,2002,38.0,PG-13,Hindi,USA,NaN,NaN,NaN,3.0,94.0,False,2021-08-08,False
380,movie_0381,Dragon Princess,Movie,Biography,Sport,2023,116.0,TV-G,English,Germany,6.2,8059992.0,1032562.0,NaN,NaN,False,2021-11-26,False
133,movie_0134,Story Night,Stand-up Comedy,Adventure,Animation,1999,52.0,PG,Spanish,France,7.3,NaN,NaN,NaN,NaN,False,2023-08-24,False
381,movie_0382,Love Empire,Documentary,War,War,2012,66.0,TV-G,English,Canada,5.5,NaN,NaN,NaN,NaN,False,2021-10-10,True
36,movie_0037,Empire King,TV Series,Comedy,NaN,2011,51.0,TV-G,French,USA,NaN,NaN,NaN,5.0,23.0,False,2025-05-02,False
395,movie_0396,Storm Night,Movie,War,NaN,2003,120.0,PG-13,English,USA,7.2,282251.0,4665806.0,NaN,NaN,False,2023-08-15,False
468,movie_0469,Hero Empire,Documentary,Crime,NaN,2002,92.0,TV-Y,English,South Korea,NaN,NaN,NaN,NaN,NaN,True,2020-12-27,False
647,movie_0648,An Ice,Movie,Horror,NaN,2012,138.0,TV-Y7,English,USA,4.9,NaN,NaN,NaN,NaN,True,2020-12-17,False
730,movie_0731,House Mission,Movie,Documentary,NaN,1998,123.0,TV-Y,English,Canada,8.6,821338.0,2563997.0,NaN,NaN,True,2024-10-27,False

In [12]:
dataframes["reviews"].sample(10)

,review_id,user_id,movie_id,rating,review_date,device_type,is_verified_watch,helpful_votes,total_votes,review_text,sentiment,sentiment_score
11103,review_011104,user_06509,movie_0692,4,2024-09-16,Mobile,False,1.0,7.0,Amazing show! Couldn't stop watching.,positive,0.624
4305,review_004306,user_05920,movie_0484,5,2025-02-12,Laptop,True,NaN,NaN,One of the best series I've ever watched. High...,positive,0.666
4611,review_004612,user_01007,movie_0229,3,2024-06-20,Laptop,True,NaN,NaN,Has its moments but overall average.,neutral,0.421
5038,review_005039,user_08964,movie_0114,4,2024-05-22,Laptop,True,2.0,2.0,Amazing show! Couldn't stop watching.,positive,NaN
11290,review_011291,user_07150,movie_0925,4,2025-09-21,Smart TV,False,3.0,7.0,One of the best series I've ever watched. High...,positive,NaN
15077,review_011674,user_06756,movie_0739,2,2024-04-20,Smart TV,True,3.0,4.0,Disappointing. Expected much more.,negative,0.185
12313,review_012314,user_08844,movie_0687,5,2025-11-25,Smart TV,False,3.0,8.0,Outstanding direction and screenplay.,positive,0.608
12115,review_012116,user_08785,movie_0906,3,2025-03-04,Mobile,True,NaN,NaN,Mixed feelings about this one.,neutral,0.505
6337,review_006338,user_05754,movie_0026,3,2024-07-17,Tablet,True,1.0,5.0,It was okay. Nothing special.,neutral,0.480
9014,review_009015,user_03309,movie_0978,4,2025-06-09,Tablet,False,1.0,7.0,Incredible story telling. Kept me engaged thro...,positive,0.882

In [13]:
dataframes["recommendation_logs"].sample(10)

,recommendation_id,user_id,movie_id,recommendation_date,recommendation_type,recommendation_score,was_clicked,position_in_list,device_type,time_of_day,algorithm_version
13591,rec_013592,user_06132,movie_0158,2024-12-24,similar_users,0.548,False,20,Smart TV,night,v1.2
32782,rec_032783,user_03001,movie_0893,2025-06-13,new_releases,0.189,True,15,Smart TV,afternoon,v1.4
41436,rec_041437,user_02418,movie_0946,2025-10-07,personalized,0.210,False,17,Laptop,night,v1.4
2333,rec_002334,user_03527,movie_0626,2024-12-23,personalized,0.159,False,8,Tablet,evening,v1.4
14678,rec_014679,user_03924,movie_0358,2025-09-06,new_releases,0.429,False,10,Smart TV,afternoon,NaN
44331,rec_044332,user_08201,movie_0350,2024-03-12,new_releases,0.950,False,8,Mobile,evening,v1.4
19553,rec_019554,user_05114,movie_0938,2025-09-14,similar_users,0.915,False,1,Tablet,evening,v1.3
42255,rec_042256,user_08536,movie_0296,2024-12-29,personalized,0.650,False,4,Smart TV,night,v1.4
27096,rec_027097,user_03256,movie_0629,2025-09-25,trending,0.518,False,7,Laptop,morning,v1.3
36728,rec_036729,user_01331,movie_0068,2025-03-08,personalized,0.637,False,18,Tablet,evening,v2.0

In [14]:
dataframes["search_logs"].sample(10)

,search_id,user_id,search_query,search_date,results_returned,clicked_result_position,device_type,search_duration_seconds,had_typo,used_filters,location_country
11026,search_011027,user_05211,sci-fi,2025-09-14,87,10.0,Mobile,10.9,False,False,USA
13026,search_013027,user_00990,netflix originals,2024-02-15,74,6.0,Mobile,5.4,False,True,USA
7824,search_007825,user_01137,cooking shows,2025-06-07,58,NaN,Smart TV,28.2,False,False,USA
20017,search_020018,user_01305,drama series,2024-02-19,39,NaN,Laptop,22.0,False,False,Canada
5241,search_005242,user_07289,drama series,2025-08-07,49,6.0,Smart TV,NaN,False,False,USA
21686,search_021687,user_08587,cooking shows,2025-02-07,77,NaN,Laptop,14.2,False,True,USA
356,search_000357,user_05704,halloween movies,2025-09-16,67,NaN,Smart TV,23.7,True,True,USA
15384,search_015385,user_05876,korean drama,2024-12-27,28,9.0,Mobile,9.0,False,True,USA
11837,search_011838,user_07128,movies like stranger things,2025-02-11,95,NaN,Laptop,13.0,False,False,Canada
11848,search_011849,user_07139,superhero movies,2025-06-10,7,NaN,Smart TV,NaN,False,False,USA

In [15]:
dataframes["watch_history"].sample(10)

,session_id,user_id,movie_id,watch_date,device_type,watch_duration_minutes,progress_percentage,action,quality,location_country,is_download,user_rating
6982,session_006983,user_07634,movie_0276,2025-02-09,Mobile,56.9,36.5,stopped,4K,USA,False,3.0
63022,session_063023,user_02912,movie_0016,2024-10-25,Desktop,104.0,31.3,started,HD,Canada,False,NaN
70050,session_070051,user_06736,movie_0552,2025-05-11,Laptop,34.6,86.0,paused,4K,Canada,False,NaN
60819,session_060820,user_02528,movie_0131,2024-01-26,Tablet,60.8,39.4,completed,HD,USA,False,NaN
93864,session_093865,user_02172,movie_0290,2025-05-13,Mobile,111.9,97.6,completed,HD,USA,False,4.0
657,session_000658,user_02872,movie_0988,2024-06-12,Tablet,54.9,83.6,paused,HD,Canada,False,NaN
45420,session_045421,user_03095,movie_0200,2024-12-20,Tablet,83.4,64.7,paused,SD,USA,False,5.0
89621,session_089622,user_06069,movie_0709,2025-10-03,Tablet,47.3,26.2,stopped,HD,Canada,True,NaN
42648,session_042649,user_01417,movie_0871,2025-04-03,Mobile,NaN,38.7,stopped,4K,USA,False,NaN
53454,session_053455,user_02047,movie_0866,2024-12-14,Desktop,28.3,0.8,started,4K,USA,True,NaN